<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      	xmlns:context="http://www.springframework.org/schema/context"
      	xmlns:aop="http://www.springframework.org/schema/aop"
       	xmlns:tx="http://www.springframework.org/schema/tx"
       	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		">
 
 	<!-- 使用spring注解开发 -->
 	<context:component-scan base-package="cn.aurora.tm"></context:component-scan>
 	
 	<bean name="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"></property>
 	
 	
 	</bean>
 	
 	<bean name="dataSource" class="com.mchange.v2.c3p0.jboss.C3P0PooledDataSource">
 		<property name="driverClass" value=""></property>
 		<property name="jdbcUrl" value=""></property>
 		<property name="user" value=""></property>
 		<property name="password" value=""></property>
 		<property name="minPoolSize" value=""></property>
 		<property name="maxPoolSize" value=""></property>
 		<property name="initialPoolSize" value=""></property>
 	</bean>
 	
 
 
</beans>
